@font-face {
    font-family: IRANfont;
    src: url("../font/woff/IRANSansWeb\(FaNum\).woff")
}

.body {
    font-family: "IRANfont";
    direction: rtl;
    box-sizing: border-box;
    background-color: rgba(247, 241, 234, 1);
}

.item {
    list-style: none;
    position: relative;
    top: 20px;
}

.header {
    position: relative;
    top: 50px;
}

.button {
    background-color: rgba(30, 69, 62, 1);
    width: 90px;
    height: 50px;
    font-size: 20px;
    border-radius: 11px;
    text-align: center;
}

.button_2 {
    width: 130px;
    height: 50px;
    border: 1px solid rgba(30, 69, 62, 1);
    border-radius: 10px;
    background-color: rgba(30, 69, 62, 0.2);
    text-align: center;
    cursor: pointer;

}

.button__body {
    color: white;
    height: 24px;
    height: 24px;
    position: relative;
    top: 13px;
}

.button__body_2 {
    width: 100px;
    text-decoration: none;
    border-radius: 1px;
    color: rgba(30, 69, 62, 1);
    position: relative;
    top: 13px;
    padding: 0px;
}

.list__item {
    margin: 0px 10px;
    padding: 10px;
    color: rgba(30, 69, 62, 1);
    text-decoration: none;
    cursor: pointer;
}



.font__h1 {
    color: rgba(12, 11, 11, 1);
    font-weight: 700;
}

.font__p {
    color: rgba(124, 124, 124, 1);
    font-weight: 700;
}

.img__div {
    display: inline-block;
    position: relative;
    top: 120px;
    z-index: -1;
    right: 70px;
}

.img__div img {
    width: 110px;
}

.font__h1 span {
    color: rgba(255, 255, 255, 1)
}

.span {
    color: rgba(1, 149, 135, 1);
    font-weight: 700;
    display: inline-block;
    font-size: 64px;
    position: relative;
    top: 12px;
    transform: rotate(-9deg);
}


.button__a--frist {
    margin-left: 10px;
    width: 140px;
    height: 50px;
    text-align: center;
    background-color: rgba(30, 69, 62, 1);
    text-decoration: none;
    border-radius: 11px;
    color: rgba(255, 255, 255, 1);
    padding: 12px 10px;
}

.button__a--second {
    margin-left: 10px;
    width: 130px;
    height: 50px;
    text-align: center;
    background-color: rgba(30, 69, 62, 0.2);
    text-decoration: none;
    border: solid 1px rgba(30, 69, 62, 1);
    border-radius: 11px;
    color: rgba(30, 69, 62, 1);
    padding: 12px 10px;
}

.img__div--second {
    margin-top: 80px;
    margin-left: 60px;
}
.div__border--frist {
    width: 188.5px;
    display: inline-block;
    height: 364px;
    position: relative;
    bottom: 534px;
    transform: rotate(6deg);
    right: 105px;
    border: solid 3px rgba(1, 149, 135, 1);
    border-top-right-radius: 10px;
}

.div__border--second {
    width: 208.82px;
    height: 358.17px;
    border: solid 3px rgba(1, 149, 135, 1);
    position: relative;
    bottom: 780px;
    right: 170px;
    transform: rotate(6deg)
}

.div__border--third {
    width: 330px;
    height: 209px;
    position: relative;
    bottom: 975px;
    right: 290px;
    background-color: rgba(255, 255, 255, 1);
    text-align: center;
    box-shadow: 0px 4px 80px 0px rgba(0, 0, 0, 0.2);
}

.div__border--third p {
    font-weight: 700;
    size: 24px;
    line-height: 37.57px;
}

.card__imgs {
    width: 20px;
    height: 50px;
    border-radius: 10px;
    margin: 0px 5px;
}

.card__imgs--1 {
    position: relative;
    left: 10px;
}

.card__imgs--2 {
    position: relative;
    left: 20px;
}

.card__imgs--3 {
    position: relative;
    left: 30px;
}

.section__bar {
    width: 100%;
    height: 257px;
    border-radius: 24px 24px 4px 4px;
    background-color: rgba(30, 69, 62, 1);
}

.list--secound {
    list-style: none;
    margin: 20px 0px;
    padding: 0;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.texts-bar h1 {
    margin-top: 20px;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    line-height: 62.61px;
}

.texts-bar p {
    margin-top: 20px;
    color: rgba(187, 187, 187, 1);
    font-weight: 400;
    size: 22px;
    line-height: 34.43px;
}

.list__item--p {
    color: rgba(255, 255, 255, 1);
}

.list__item--p--second {
    color: rgba(159, 226, 191, 1);
}

.list__item--p--second span {
    font-size: 10px;
    color: rgba(187, 187, 187, 1);
    font-weight: 500;
    line-height: 15.65px;
    text-align: left;
}

.list-spans-first {
    font-size: 24px;
    font-weight: 700;
    line-height: 37.57px;
    text-align: left;
    color: rgba(1, 149, 135, 1)
}

.list-spans-second {
    font-size: 12px;
    font-weight: 400;
    line-height: 18.78px;
    text-align: left;
    color: rgba(124, 124, 124, 1);
}

.list-spans-third {
    font-size: 13px;
    font-weight: 500;
    line-height: 20.35px;
    text-align: left;
    color: rgba(124, 124, 124, 1)
}

.span__card--first {
    font-size: 12px;
    font-weight: 500;
    line-height: 18.78px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.span__card--second {
    font-size: 11px;
    font-weight: 500;
    line-height: 17.22px;
    text-align: left;
    color: rgba(124, 124, 124, 1);
}

.dropdown-toggle {
    cursor: pointer;
    color: rgba(30, 69, 62, 1);

}

.input__body {
    border-radius: 10px;
    border: solid 1px rgba(124, 124, 124, 1);
    height: 50px;
    padding: 5px;
    background-color: transparent;
}

#dropdown-menu-bg {
    background-color: rgba(247, 241, 234, 1);
    color: rgba(30, 69, 62, 1);
}

.cards {
    border-radius: 10px;
    background-color: rgba(247, 241, 234, 1);
    box-shadow: 0px 4px 80px 0px rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
    position: relative;
    bottom: 500px;
}

.cards img {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer {
    background-color: rgba(30, 69, 62, 0.3);
    height: 50vh;
    border-radius: 24px 24px 0px 0px;
    width: 100%;
}

.label__products {
    bottom: 600px;
    font-size: 24px;
    font-weight: 700;
    line-height: 37.57px;
    text-align: center;
    color: rgba(1, 149, 135, 1);
}

.products-section--second {
    margin-top: 400px;
}

.footer__logos--first--imgs {
    width: 80px;
    margin-left: 100px;
    margin-right: 100px;
}

.footer__logos--second--imgs {
    width: 1px;
    margin-left: 20px;
    margin-right: 20px;
}

.label__products--about {
    font-size: 24px;
    font-weight: 700;
    line-height: 37.57px;
    text-align: center;
    color: rgba(1, 149, 135, 1);
    margin-bottom: 150px;
}
.img__cart img{
    width: 100px;
    height: 100px;
}

.div-1{
height: 750px;
}
.div-2{
height: 750px;
}

.products {
    margin-top: 130px;
}

.imgs_foot {
    width: 100px;
    position: absolute;
}

.img-1 {
    top: 100.47px;
    left: 1250px;
}

.img-3 {
    top: 106.47px;
    left: 180px;
}

.img-5 {
    top: 217.47px;
    left: 662px;
}

.img-7 {
    top: 581.47px;
    left: 844px;
}

.img-2 {
    top: 101px;
    left: 900.08px;
}

.img-4 {
    top: 7vh;
    right: 1290px;
    gap: 0px;
    opacity: 0px;
}

.img-6 {
    top: 593px;
    left: 1190.08px;
}

.img-8 {
    top: 383px;
    left: 650.08px;
}

.img-9 {
    top: 285px;
    left: 50.08px;
}
.img-10 {
    top: 80vh;
    right: 1310px;
    z-index: 1;
}
.img-11 {
    top: 95vh;
    right: 1150px;
    z-index: 1;
}
.img-12 {
    top: 80vh;
    right: 1030px;
    z-index: 1;
}
.img-13 {
    top: 92vh;
    right: 900px;
    z-index: 1;
}
.img-14 {
    top: 79vh;
    right: 800px;
    z-index: 1;
}
.img-15 {
    top: 86vh;
    right: 600px;
    z-index: 1;
}
.img-16 {
    top: 97vh;
    right: 300px;
    z-index: 1;
}
.img-17 {
    top: 97vh;
    right: 10px;
    z-index: 1;
} 
.body_productdetiles{
    width: 150vh;
    height: 70vh;
    margin: auto;
    position: relative;
    top: 100px;
    background-color: rgba(247, 241, 234,0.2);
    border-radius: 10px;
    box-shadow: 0px 4px 80px 0px rgba(0, 0, 0, 0.2);
}
.product-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 80px 0px rgba(0, 0, 0, 0.2);
}
.product-description {
    margin-top: 20px;
}